/* .service-container{
    margin-left: 10%;
    margin-right: 0%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-gap: 20px;
    width: 100%;
}
.service-container img{
    width: 100%;
    padding-bottom: 10px;
} */

.service-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-left: 200px;
}
.service-container img{
    width: 100%;
}

/* Make it responsive */
@media only screen and (max-width:688px) {
    .service-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width:689px) and (max-width: 991px){
    .service-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
